@use '../../assets/style/variables' as *;

.card-list {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  &-fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-light-font;
    font-size: 3rem;
    h3 {
      text-align: center;
    }
  }
}
