@use './variables.scss' as *;

@mixin button($width, $height) {
  width: $width;
  height: $height;
  border: none;
  border-radius: 4px;
  font-family: 'Oxanium', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin page-wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 70vh;
  background-color: $c-page-bg;
  color: $c-font;
}
