$color-slate-950: oklch(12.9% 0.042 264.695);
$color-slate-600: oklch(44.6% 0.043 257.281);
$color-slate-700: oklch(37.2% 0.044 257.287);
$color-slate-200: oklch(92.9% 0.013 255.508);
$color-slate-400: oklch(70.4% 0.04 256.788)