$c-main-bg: #282828;
$c-secondary-bg: #a6cccc;
$c-secondary-font: #88e23b;
$c-main-font: #60a85f;
$c-dark-disable: #345c34;
$c-dark-page-bg: rgba(0, 0, 0, 0.8);

$c-main-bg-light: #ffffff;
$c-secondary-bg-light: #e6f2f2;
$c-secondary-font-light: #4d7a0f;
$c-main-font-light: #2f6332;
$c-light-disable: #a6a5a5;
$c-light-page-bg: rgba(255, 255, 255, 0.8);
