@use '../../assets/style/variables.scss' as *;
@use '../../assets/style/mixins.scss' as *;

.detailed {
  flex: 0 0 400px;
  width: 100%;
  padding: 15px;
  position: relative;
  gap: 1rem;
  flex-direction: column;
  &-back-btn {
    position: absolute;
    @include center-flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    border: 2px solid $c-main-bg;
  }

  &-img {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 8px;
    object-fit: cover;
  }

  .detailed-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  &-info {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-info-item {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

.alive {
  background-color: green;
}

.dead {
  background-color: red;
}

.status-indicator {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dark {
  background-color: $c-main-bg;
  color: $c-main-font;
}

.light {
  background-color: $c-main-bg-light;
  color: $c-main-font-light;
}
