@use '../../assets/style/variables.scss' as *;

.table {
  margin: 8px;
  &-head-cell {
    border: 1px solid $color-slate-950;
    padding: 8px;
    background-color: $color-slate-400;
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      &-sort-btn {
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
          color: oklch(76.5% 0.177 163.223);
        }
      }
      &-input {
        font-size: 12px;
        background-color: $color-slate-600;
        margin-inline-start: 4px;
        border-radius: 8px;
        padding-left: 8px;
        color: $color-slate-200;
        width: 120px;
      }
    }
  }
}

