@use '../../../assets/style/variables.scss' as *;
@use '../../../assets/style/mixins.scss' as *;

.button {
  @include button(120px, 40px);
  &:disabled {
    cursor: not-allowed;
  }
}

.error-button {
  @include button(300px, 40px);
  margin-top: 20px;
  background-color: red !important;
  color: white !important;
  &:hover {
    background-color: darkred !important;
  }
}

.dark-btn {
  background-color: $c-main-font;
  color: $c-main-bg;
  &:hover {
    background-color: $c-secondary-font;
  }
  &:disabled {
    background-color: $c-dark-disable;
  }
}

.light-btn {
  background-color: $c-main-font-light;
  color: $c-main-bg-light;
  &:hover {
    background-color: $c-secondary-font-light;
  }
  &:disabled {
    background-color: $c-light-disable;
  }
}
