@use '../assets/style/mixins' as *;
@use '../assets/style/variables' as *;


.not-found {
  background-color: $c-main-bg;
  color: $c-main-font;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  &_img {
    width: 30%;
    height: auto;
  }

  &_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    .title {
      margin: 0;
      font-size: 3rem;
    }
  }

  &-btn {
    @include button(120px, 40px);
  }
}

[data-theme='light'] {
  .page-wrapper {
    background-color: $c-light-page-bg;
    color: $c-secondary-font-light;
  }

  .not-found {
    color: $c-secondary-font-light;

    &_img {
      filter: brightness(0.8);
    }
  }
}
