@use '../../assets/style/variables' as *;

.search-form {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  background-color: $c-dark-page-bg;
  &__input {
    width: 60%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 20px;
    background-color: $c-secondary-bg;
    color: $c-main-bg;
  }
}

[data-theme='light'] {
  .search-form {
    background-color: $c-light-page-bg;
    &__input {
      background-color: $c-main-bg;
      color: $c-secondary-bg;
    }
  }
}

