@use '../../assets/style/variables' as *;

.search-form {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  &__input {
    width: 60%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 20px;
  }
}

.dark {
  background-color: $c-dark-page-bg;
  .search-form__input {
    background-color: $c-secondary-bg;
    color: $c-main-bg;
  }
}

.light {
  background-color: $c-light-page-bg;
  .search-form__input {
    background-color: $c-main-bg;
    color: $c-secondary-bg;
  }
}
