@use '@assets/style/variables.scss' as *;
@use '@assets/style/mixins.scss' as *;

.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: $c-dark-page-bg;
  color: $c-main-font;

  &-text {
    padding: 10px 20px;
  }

  &-main {
    font-size: 2rem;
    margin: 0;
  }

  &-secondary {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &-feature {
    padding: 10px 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

  &-about-btn {
    @include button(120px, 40px);
  }
}

[data-theme='light'] {
  .header {
    background-color: $c-light-page-bg;
    color: $c-main-font-light;
    &-about-btn {
      @include button-light;
    }
  }

}
