@use '@assets/style/variables.scss' as *;

.flyout {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $c-main-bg;
  color: $c-main-font;
  width: 400px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
  border: 2px solid $c-main-font;
  gap: 10px;

  &-buttons {
    display: flex;
    gap: 10px;
  }

  h2 {
    margin: 0;
  }
}

[data-theme='light'] {
  .flyout {
    background-color: $c-main-bg-light;
    color: $c-main-font-light;
    border-color: $c-secondary-font-light;
  }
}
