@use '../../assets/style/variables' as *;
@use '../../assets/style/mixins' as *;

.loading {
  @include center-flex;
  width: 100%;
  margin-top: 100px;
  color: $c-secondary-font;
  flex-direction: column;
}

.dark {
  color: $c-secondary-font;
}

.light {
  color: $c-secondary-font-light;
}
