@use '../../assets/style/variables.scss' as *;
@use '../../assets/style/mixins.scss' as *;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  min-height: 800px;

  &-results {
    width: 90%;
    background-color: $c-dark-page-bg;
    height: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dark {
  background-color: $c-dark-page-bg;
}

.light {
  background-color: $c-light-page-bg;
}
