@use '../../assets/style/variables' as *;
@use '../../assets/style/mixins' as *;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  min-height: 600px;

  &-results {
    width: 90%;
    background-color: $c-dark-page-bg;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-feature {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    &-reset-btn {
      width: 250px !important;
    }
  }
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  padding: 20px;
}


[data-theme='light'] {
  .search-results {
    background-color: $c-light-page-bg;
  }
}
